<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>LoginValidation</display-name>
    <servlet-name>LoginValidation</servlet-name>
    <servlet-class>com.example.controller.LoginValidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginValidation</servlet-name>
    <url-pattern>/LoginValidation</url-pattern>
  </servlet-mapping>
  <display-name>EcommersProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddCat</display-name>
    <servlet-name>AddCat</servlet-name>
    <servlet-class>com.example.controller.AddCat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCat</servlet-name>
    <url-pattern>/AddCat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCategory</display-name>
    <servlet-name>ViewCategory</servlet-name>
    <servlet-class>com.example.controller.ViewCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCategory</servlet-name>
    <url-pattern>/ViewCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCategory</display-name>
    <servlet-name>DeleteCategory</servlet-name>
    <servlet-class>com.example.controller.DeleteCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCategory</servlet-name>
    <url-pattern>/DeleteCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCategoryservlet</display-name>
    <servlet-name>EditCategoryservlet</servlet-name>
    <servlet-class>com.example.controller.EditCategoryservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCategoryservlet</servlet-name>
    <url-pattern>/EditCategoryservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCategoryservlet</display-name>
    <servlet-name>UpdateCategoryservlet</servlet-name>
    <servlet-class>com.example.controller.UpdateCategoryservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCategoryservlet</servlet-name>
    <url-pattern>/UpdateCategoryservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductServlet</display-name>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>com.example.controller.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/AddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadImageServlet</display-name>
    <servlet-name>UploadImageServlet</servlet-name>
    <servlet-class>com.example.controller.UploadImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadImageServlet</servlet-name>
    <url-pattern>/UploadImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProductServlet</display-name>
    <servlet-name>DeleteProductServlet</servlet-name>
    <servlet-class>com.example.controller.DeleteProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductServlet</servlet-name>
    <url-pattern>/DeleteProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProductServlet</display-name>
    <servlet-name>UpdateProductServlet</servlet-name>
    <servlet-class>com.example.controller.UpdateProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProductServlet</servlet-name>
    <url-pattern>/UpdateProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCustomerServlet</display-name>
    <servlet-name>AddCustomerServlet</servlet-name>
    <servlet-class>com.example.controller.AddCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCustomerServlet</servlet-name>
    <url-pattern>/AddCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerValidationServlet</display-name>
    <servlet-name>CustomerValidationServlet</servlet-name>
    <servlet-class>com.example.controller.CustomerValidationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerValidationServlet</servlet-name>
    <url-pattern>/CustomerValidationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfilePicUpdateServlet</display-name>
    <servlet-name>ProfilePicUpdateServlet</servlet-name>
    <servlet-class>com.example.controller.ProfilePicUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfilePicUpdateServlet</servlet-name>
    <url-pattern>/ProfilePicUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileCustomerServlet</display-name>
    <servlet-name>ProfileCustomerServlet</servlet-name>
    <servlet-class>com.example.controller.ProfileCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileCustomerServlet</servlet-name>
    <url-pattern>/ProfileCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToWishListServlet</display-name>
    <servlet-name>AddToWishListServlet</servlet-name>
    <servlet-class>com.example.controller.AddToWishListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToWishListServlet</servlet-name>
    <url-pattern>/AddToWishListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartServlet</display-name>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>com.example.controller.AddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/AddToCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCartServlet</display-name>
    <servlet-name>DeleteCartServlet</servlet-name>
    <servlet-class>com.example.controller.DeleteCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCartServlet</servlet-name>
    <url-pattern>/DeleteCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteWishlistServlet</display-name>
    <servlet-name>DeleteWishlistServlet</servlet-name>
    <servlet-class>com.example.controller.DeleteWishlistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteWishlistServlet</servlet-name>
    <url-pattern>/DeleteWishlistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteWishlistSrvlet</display-name>
    <servlet-name>DeleteWishlistSrvlet</servlet-name>
    <servlet-class>com.example.controller.DeleteWishlistSrvlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteWishlistSrvlet</servlet-name>
    <url-pattern>/DeleteWishlistSrvlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEmployeeServlet</display-name>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <servlet-class>com.example.controller.AddEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <url-pattern>/AddEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCustomerServlet</display-name>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <servlet-class>com.example.controller.DeleteCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <url-pattern>/DeleteCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadImageEmployeeServlet</display-name>
    <servlet-name>UploadImageEmployeeServlet</servlet-name>
    <servlet-class>com.example.controller.UploadImageEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadImageEmployeeServlet</servlet-name>
    <url-pattern>/UploadImageEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEmployeeServlet</display-name>
    <servlet-name>DeleteEmployeeServlet</servlet-name>
    <servlet-class>com.example.controller.DeleteEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEmployeeServlet</servlet-name>
    <url-pattern>/DeleteEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmployeeServlet</display-name>
    <servlet-name>UpdateEmployeeServlet</servlet-name>
    <servlet-class>com.example.controller.UpdateEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployeeServlet</servlet-name>
    <url-pattern>/UpdateEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentServlet</display-name>
    <servlet-name>PaymentServlet</servlet-name>
    <servlet-class>com.example.controller.PaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentServlet</servlet-name>
    <url-pattern>/PaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateOrderStatusServlet</display-name>
    <servlet-name>UpdateOrderStatusServlet</servlet-name>
    <servlet-class>com.example.controller.UpdateOrderStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOrderStatusServlet</servlet-name>
    <url-pattern>/UpdateOrderStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RatingMod</display-name>
    <servlet-name>RatingMod</servlet-name>
    <servlet-class>com.example.model.RatingMod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RatingMod</servlet-name>
    <url-pattern>/RatingMod</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRatingServlet</display-name>
    <servlet-name>AddRatingServlet</servlet-name>
    <servlet-class>com.example.controller.AddRatingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRatingServlet</servlet-name>
    <url-pattern>/AddRatingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRatingServlet</display-name>
    <servlet-name>DeleteRatingServlet</servlet-name>
    <servlet-class>com.example.controller.DeleteRatingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRatingServlet</servlet-name>
    <url-pattern>/DeleteRatingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRatingServlet</display-name>
    <servlet-name>UpdateRatingServlet</servlet-name>
    <servlet-class>com.example.controller.UpdateRatingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRatingServlet</servlet-name>
    <url-pattern>/UpdateRatingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFeedBackServlet</display-name>
    <servlet-name>AddFeedBackServlet</servlet-name>
    <servlet-class>com.example.controller.AddFeedBackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFeedBackServlet</servlet-name>
    <url-pattern>/AddFeedBackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStatusInAdminServlet</display-name>
    <servlet-name>UpdateStatusInAdminServlet</servlet-name>
    <servlet-class>com.example.controller.UpdateStatusInAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStatusInAdminServlet</servlet-name>
    <url-pattern>/UpdateStatusInAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFeedBackServlet</display-name>
    <servlet-name>DeleteFeedBackServlet</servlet-name>
    <servlet-class>com.example.controller.DeleteFeedBackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFeedBackServlet</servlet-name>
    <url-pattern>/DeleteFeedBackServlet</url-pattern>
  </servlet-mapping>
</web-app>